*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

db.sqlite3
*.log
*.pot
*.pyc
*.mo

.env
.venv/
env/
venv/
ENV/
venv.bak/
venv.bak/

.vscode/

__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

staticfiles/

*.log
local_settings.py
db.sqlite3

.DS_Store

*.swp
