.main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(106, 142, 35, 0.702); 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-top: 30px;
    color: white;
}

p {
    margin-bottom: 15px;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(107, 142, 35, 0.5), rgba(255, 255, 255, 0.5), rgba(107, 142, 35, 0.5));
    border-radius: 5px;
    margin: 20px 0;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.image-container {
    width: 150px;
    height: 150px; 
    border-radius: 50%;
    overflow: hidden; 
    margin: 0 auto; 
    border: 3px solid white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.header-image {
    width: 100%; 
    height: auto; 
}