body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.search-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-section input,
.search-section select {
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.search-section button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-section button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.Acciones {
    width: 150px;
}
table th,
table td {
    padding: 9px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f1f1f1;
}

.action-buttons a {
    margin-right: 5px;
    padding: 8px 2px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.action-buttons a:hover {
    background-color: #218838;
}

.footer {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.btn-regresar {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-regresar:hover {
    background-color: #0056b3;
}

/* Estilos responsive */
@media (max-width: 768px) {
    .container {
        width: 100%; /* Ajuste del ancho del contenedor para que no quede cortado */
        padding: 15px;
        margin: 0; /* Elimina el margen para que ocupe el ancho completo de la pantalla */
    }
    
    .search-section {
        flex-direction: column;
        gap: 10px;
    }
    
    .search-section input,
    .search-section select,
    .search-section button {
        width: 100%; /* Los elementos de búsqueda se apilan en pantallas pequeñas */
    }

    table th,
    table td {
        font-size: 8px; /* Reducimos un poco el tamaño de fuente en pantallas pequeñas */
    }

    .action-buttons {
        display: flex;
        flex-wrap: nowrap; /* Evita que los enlaces se dividan en varias líneas */
        gap: 5px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em; /* Ajusta el tamaño del título para pantallas muy pequeñas */
    }

    .search-section input,
    .search-section select,
    .search-section button {
        padding: 8px;
    }

    .footer p {
        font-size: 12px; /* Disminuye el tamaño de texto en el pie de página */
    }

    .action-buttons a {
        padding: 6px 8px; /* Ajusta el tamaño de los botones de acción */
    }
}