body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table th,
table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
table th {
    background-color: #f1f1f1;
}
.action-buttons a {
    margin-right: 5px;
    padding: 8px 2px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.action-buttons a:hover {
    background-color: #218838;
}