{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/carrito.css' %}" />
{% endblock %}
{% block content %}

<div>
  <header>
    <h1>Carrito de Compras</h1>
  </header>
  <div class="carrito-container">
    <table id="lista-carrito" class="u-full-width">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for item in carrito.items %}
        <tr>
          <td><img src="../../media/{{item.imagen }}" width="100"></td>
          <td>{{ item.nombre }}</td>
          <td>${{ item.precio }}</td>
          <td>
            <form method="post" action="{% url 'modificar_cantidad' item.producto_id %}">
              {% csrf_token %}
              <input type="number" name="cantidad" value="{{ item.cantidad }}" min="1">
              <button type="submit">Modificar</button>
            </form>
          </td>
          <td>
            <form method="post" action="{% url 'eliminar_del_carrito' item.producto_id %}">
              {% csrf_token %}
              <button type="submit">Eliminar</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="total">
    <h2>Total: $<span id="total-price">{{ total }}</span></h2>
    <button class="checkout-button">Proceder al Pago</button>
  </div>
  <footer class="footer">
    <p>Tienda de Mascotas Sonrisas y Patitas</p>
  </footer>
</div>

{% endblock %}