{% extends 'base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static '/css/editar_perfilU.css' %}" />
<link rel="stylesheet" href="{% static '/css/globals.css' %}" />
{% endblock %} {%block content%}
<div>
  <div class="container">
    <h1>Editar Perfil de Usuario</h1>

    <div class="image-container-edit">
      <img
        src="{% static '/images/Sonrisas y patitas logo.jfif' %}"
        alt="Imagen Proyecto"
        class="image-edit"
      />
    </div>

    <form action="{% url 'editar_perfilU' %}" method="POST">
      {% csrf_token %}
      <label for="username">Cambiar nombre</label>
      {{ form.username }}

      <label for="email">Cambiar correo electrónico</label>
      {{ form.email }}

      <label for="new_password">Cambiar contraseña</label>
      {{ form.new_password }}

      <button type="submit" class="boton-editar">EDITAR</button>
    </form>

    <a href="{% url 'perfil_usuario' %}"
      ><button class="boton-cerrar">✖</button></a
    >
  </div>
</div>
{% endblock %}
