{% extends 'base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static '/css/carrito.css' %}" />
{% endblock %} {%block content%}

<!-- TODO: modificar carrito para mostrar los productos del carrito y poder procesar el pago -->
<div>
  <header>
    <h1>Carrito de Compras</h1>
  </header>
  <div class="carrito-container"></div>
  <div class="total">
    <h2>Total: $<span id="total-price">0.00</span></h2>
    <button class="checkout-button">Proceder al Pago</button>
  </div>
  <footer class="footer">
    <p>Tienda de Mascotas Sonrisas y patitas</p>
  </footer>
</div>
{% endblock %} {% block extra_js %}
<script src="{% static '/js/carrito.js' %}"></script>
{% endblock %}
