{% extends 'base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="/static/css/tienda.css" />

{% endblock %} {%block content%}

<div>
  <header id="header" class="header">
    <h1 class="title">Tienda</h1>
    <div class="category">
      <label for="categoria-select">Filtrar por categoría:</label>
      <select id="categoria-select">
        <option value="todas">Todas</option>
        <option value="comida">Comida</option>
        <option value="juguetes">Juguetes</option>
        <option value="herramientas">Herramientas</option>
        <option value="aseo">Aseo</option>
      </select>
    </div>
    <div class="carrito-container">
      <div class="row">
        <div class="two columns u-pull-right">
          <ul>
            <li class="submenu">
              <a href="{% url 'carrito' %}">
                <img
                  src="/static/images/cart.png"
                  id="img-carrito"
                  alt="carrito"
                />
              </a>

              <div id="carrito">
                <table id="lista-carrito" class="u-full-width">
                  <thead>
                    <tr>
                      <th>Imagen</th>
                      <th>Nombre</th>
                      <th>Precio</th>
                      <th>Cantidad</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>

                <a href="#" id="vaciar-carrito" class="button u-full-width"
                  >Vaciar Carrito</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div id="lista-productos" class="container">
    {% for producto in productos %}
    <div class="card" data-categoria="{{producto.categoria}}">
      <img
        src="../../media/{{producto.imagen}}"
        class="imagen u-full-width"
      />
      <div class="info-card">
        <h4>{{producto.nombre}}</h4>
        <p>{{producto.descripcion}}</p>
        <p class="precio">${{producto.precio}}</p>
        <a
          href="#"
          class="u-full-width button-primary button input agregar-carrito"
          data-id="{{producto.id}}"
          >Agregar Al Carrito</a
        >
      </div>
      </div>
      {% endfor %}
    </div>
    </div>
</div>
{% endblock %} {% block extra_js %}

<script src="{% static '/js/tienda.js' %}"></script>

{% endblock %}
