{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/AcercaC.css' %}" />
{% endblock %}
{% block content %}

<div class="main container">
  <div class="header">
    <div class="image-container">
      <img
        src="{% static '/images/Sonrisas y patitas logo.jfif' %}"
        alt="Imagen de la tienda"
        class="header-image"
      />
    </div>
  </div>
  <h1>Acerca de nosotros!</h1>
  <hr />
  <h2>Misión</h2>
  <p>
    {% if acerca_de %}
    {{ acerca_de.mision }}
    {% else %}
    Somos una tienda veterinaria encargada de ofrecer los mejores productos para
    el cuidado y la diversión de nuestros queridos amigos peludos. Nuestro
    conocimiento sobre animales nos permite saber sus gustos y necesidades para
    así ofrecer servicios de calidad a nuestros clientes y darles la
    tranquilidad de tener una mascota feliz y sana.
    {% endif %}
  </p>
  <hr />
  <h2>¿Dónde nos encontramos?</h2>
  <p>
    {% if acerca_de %}
    {{ acerca_de.ubicacion }}
    {% else %}
    Dirección no disponible.
    {% endif %}
  </p>
  <hr />
  <h2>¿Cómo puedes contactarnos?</h2>
  <div class="contact-info">
    {% if acerca_de %}
    <p><strong>Instagram:</strong> {{ acerca_de.instagram }}</p>
    <p><strong>Facebook:</strong> {{ acerca_de.facebook }}</p>
    <p><strong>Teléfono:</strong> {{ acerca_de.telefono }}</p>
    <p><strong>WhatsApp:</strong> {{ acerca_de.whatsapp }}</p>
    {% else %}
    <p>Información de contacto no disponible.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
