{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clínica Veterinaria</title>
    <link rel="stylesheet" href="{% static '/css/globals.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <div class="navbar">
      <div class="left">
        <a href="{% url 'menu' %}">
          <img
            src="/static/images/Sonrisas y patitas logo.jfif"
            alt="Logo de la tienda"
            class="navbar__logo"
          />
        </a>
      </div>
      <div class="center">
        <a href="{% url 'tienda' %}">Tienda</a>
        <a href="{% url 'acercaC' %}">Acerca de</a>
      </div>
      <div class="right">
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'registro'%}">Registro</a>
        <div id="infusuario" class="infusuario">
          <button onclick="toggleInfo()" class="btn-togleus">
            <img
              src="{% static '/images/icono-usuario-con-mascotas.png' %}"
              alt="Perfil Usuario"
            />
          </button>
          <section id="inf-user" class="seccion-perfilU">
            <div id="info" class="seccion-perfilU-info">
              <h1>Perfil de cliente</h1>
              <label>NomUsuario Apellido</label>
              <p>correoUsuario123.@ejemplo.com</p>
              <div class="user-buttons">
                <button>
                  <a href="{% url 'editar_perfilU' %}">Editar</a>
                </button>
                <button>compras</button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div>{% block content %}{% endblock %}</div>

    <script src="{% static '/js/menu.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
