{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Clínica Veterinaria</title>
    <link rel="stylesheet" href="{% static '/css/globals.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <div class="navbar">
      <div class="left">
        <a href="{% url 'menu' %}">
          <img
            src="/static/images/Sonrisas y patitas logo.jfif"
            alt="Logo de la tienda"
            class="navbar__logo"
          />
        </a>
      </div>
      <div class="nav-content">
        <div class="center">
          <a href="{% url 'menu' %}" class="nav-link">Inicio</a>
          <a href="{% url 'tienda' %}" class="nav-link">Tienda</a>
          <a href="{% url 'acercaC' %}" class="nav-link">Acerca de</a>
          {% if user.is_superuser %}
          <a href="{% url 'modulo_admin' %}" class="nav-link">Admin</a>
          {% endif %}
        </div>
        <div class="right">
          {% if user.is_authenticated %}
          <div class="usuario-text">
            <span>{{ user.username }}</span>
            <span>{{ user.email }}</span>
          </div>
          <div id="infusuario" class="infusuario">
            <a href="{% url 'perfil_usuario' %}">
              <button class="btn-togleus">
                <img
                  src="{% static '/images/icono-usuario-con-mascotas.png' %}"
                  alt="Perfil Usuario"
                />
              </button>
            </a>
            {% else %}
            <a href="{% url 'auth' %}" class="nav-link">Login</a>
            <button class="btn-togleus">
              <img
                src="{% static '/images/icono-usuario-con-mascotas.png' %}"
                alt="Perfil Usuario"
              />
            </button>
            {% endif %}
          </div>
        </div>
      </div>
      <button class="hamburger-menu" aria-label="Menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
    </div>

    <main>{% block content %}{% endblock %}</main>

    <script>
      console.log("click");
      const hamburger = document.querySelector(".hamburger-menu");

      hamburger.addEventListener("click", () => {
        toggleMenu();
      });

      function toggleMenu() {
        const navbar = document.querySelector(".navbar");
        navbar.classList.toggle("active");

        document.body.style.overflow = navbar.classList.contains("active")
          ? "hidden"
          : "";
      }

      function toggleInfo() {
        const info = document.getElementById("info");
        const seccionPerfilU = document.getElementById("inf-user");

        if (info && seccionPerfilU) {
          info.classList.toggle("hidden");
          seccionPerfilU.classList.toggle("hidden");
        }
      }

      document.querySelectorAll(".nav-link").forEach((link) => {
        link.addEventListener("click", () => {
          const navbar = document.querySelector(".navbar");
          if (navbar.classList.contains("active")) {
            toggleMenu();
          }
        });
      });

      const closeBtn = document.querySelector(".close-btn");

      closeBtn.addEventListener("click", () => {
        const info = document.getElementById("info");
        const seccionPerfilU = document.getElementById("inf-user");

        if (info && seccionPerfilU) {
          info.classList.toggle("hidden");
          seccionPerfilU.classList.toggle("hidden");
        }
      });

      window.addEventListener("resize", () => {
        const navbar = document.querySelector(".navbar");
        if (window.innerWidth > 768 && navbar.classList.contains("active")) {
          navbar.classList.remove("active");
          document.body.style.overflow = "";
        }
      });
    </script>
    {% block extra_js %} {% endblock %}
  </body>
</html>
