<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="../static/css/tienda.css">
</head>
<body>
    <header>
        <h1>Carrito de Compras</h1>
    </header>
    <div class="carrito-container">
    </div>
    <div class="total">
        <h2>Total: $<span id="total-price">0.00</span></h2>
        <button class="checkout-button">Proceder al Pago</button>
    </div>
    <footer class="footer">
        <p>Tienda de Mascotas Sonrisas y patitas</p>
    </footer>
    <script src="../static/js/carrito.js"></script>
</body>
</html>
