<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar perfil de Usuario</title>
    <link rel="stylesheet" href="../static/css/editar_perfilU.css">

</head>
<body>
    <div class="container"
        <h1>Editar Perfil de Usuario</h1>
        <form action="/registrar" method="POST">
            <label for="nombre_completo">Cambiar nombre :</label>
            <input type="text" id="nombre_completo" name="nombre_completo" required>

            <label for="telefono">Cambiar teléfono:</label>
            <input type="tel" id="telefono" name="telefono" required>

            <label for="password">cambiar contraseña</label>
            <input type="password" id="Contraseña" name="Contraseña" required>

            <label for="repetir_password">Confirmar nueva contraseña</label>
            <input type="password" id="repetir_password" name="repetir_password" required>

            <div class="botones">
                <button type="submit" class="boton-registrar">REGISTRAR</button>
                <button type="reset" class="boton-limpiar">LIMPIAR</button>
                <button type="button" class="boton-cancelar" onclick="window.close()">CERRAR</button>
            </div>
        </form>
    </div>
</body>
</html>