<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INGRESAR AL SISTEMA</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="container">
        <h1>INICIAR SESIÓN</h1>

        <div class="image-container">
            <img src="../static/images/Sonrisas y patitas logo.jfif" alt="Imagen Proyecto" class="image">
        </div>

        <form id="loginForm">
            <label for="dni">Correo electrónico:</label>
            <input type="text" id="Correo" name="correo" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <button type="button" id="ingresarButton" class="button green">INGRESAR</button>
            <button type="button" id="registrarButton" class="button blue">REGISTRAR</button>
        
        </form>

        <p class="forgot-password">⬇ ¿Olvidó su contraseña? ⬇</p>
        <button type="button" id="recuperarButton" class="button gray">RECUPERAR CONTRASEÑA</button>
    </div>
    
    <script src="../static/js/login.js"></script>
</body>
</html>