{% extends 'base.html' %}
{% load static %}
 
{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">
<link rel="stylesheet" href="{% static '/css/globals.css' %}">
{% endblock %}
{%block content%}
<div>
    <div class="container">
        <h1 class="title">INICIAR SESIÓN</h1>

        <div class="image-container">
            <img src="{% static '/images/Sonrisas y patitas logo.jfif' %}" alt="Imagen Proyecto" class="image">
        </div>

        <form id="loginForm">
            <label for="dni">Correo electrónico:</label>
            <input type="text" id="Correo" name="correo" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <button type="button" id="ingresarButton" class="button green">INGRESAR</button>
            <a href="{% url 'registro' %}">
                <button type="button" id="registrarButton" class="button blue">REGISTRAR</button>
            </a>
        </form>

        <p class="forgot-password">⬇ ¿Olvidó su contraseña? ⬇</p>
        <a href="{% url 'recuperar' %}">
        <button  type="button" id="recuperarButton" class="button gray">RECUPERAR CONTRASEÑA<button/></a>
        <a href="{% url 'menu' %}" class="boton-cerrar"><button>✖</button></a>
            
    </div>
</div>   

{% endblock %} 

{% block extra_js %}
<script src="{% static '/js/login.js' %}"></script>

{% endblock %}



