{% extends 'base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static '/css/menu.css' %}" />
<link rel="stylesheet" href="{% static '/css/globals.css' %}" />
{% endblock %} {% block content %}
<div class="main-content">
  <section class="info">
    <div class="logo-container">
      <img
        src="{% static '/images/Sonrisas y patitas logo.jfif' %}"
        alt="Logo de la Veterinaria"
        class="logo"
      />
    </div>
    <h1 class="menu-title">
      {% if menu %}
        {{ menu.titulo }}
      {% else %}
        Bienvenidos a la Clínica Veterinaria SONRISAS Y PATITAS
      {% endif %}
    </h1>
    <p class="menu-subtitle">
      {% if menu %}
        {{ menu.subtitulo }}
      {% else %}
        Nos dedicamos a cuidar a tus mascotas con mucho amor y profesionalismo.
      {% endif %}
    </p>
  </section>

  <section class="servicios">
    <div class="servicios-caninos">
      <h2>Servicios para Caninos</h2>
      {% if elementosCaninos %}
        <ul>
          {% for elemento in elementosCaninos %}
            <li>{{ elemento }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <ul>
          <li>* Consultas Veterinarias</li>
          <li>* Cuidados de mascotas</li>
          <li>* Servicios de grooming</li>
          <li>* Medicamentos y alimentos</li>
          <li>* Consultas de salud</li>
        </ul>
      {% endif %}
    </div>
    <div class="servicios-felinos">
      <h2>Servicios para Felinos</h2>
      {% if elementosFelinos %}
        <ul>
          {% for elemento in elementosFelinos %}
            <li>{{ elemento }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <ul>
          <li>* Consultas Veterinarias</li>
          <li>* Cuidados de mascotas</li>
          <li>* Servicios de grooming</li>
          <li>* Medicamentos y alimentos</li>
          <li>* Consultas de salud</li>
        </ul>
      {% endif %}
    </div>
  </section>

  <!-- Carrusel -->
  <div class="carrusel-container">
    <div class="carrusel-inner">
      <div class="carrusel-item">
        <img
          src="{% static '/images/Perro_siendo_atendido.jfif' %}"
          alt="Imagen 1"
        />
      </div>
      <div class="carrusel-item">
        <img src="{% static '/images/Promocion_gato.jpg' %}" alt="Imagen 2" />
      </div>
      <div class="carrusel-item">
        <img
          src="{% static '/images/Promocion_peluqueria.jpg' %}"
          alt="Imagen 3"
        />
      </div>
      <div class="carrusel-item">
        <img src="{% static '/images/gatos_ultima.png' %}" alt="Imagen 4" />
      </div>
      <div class="carrusel-item">
        <img src="{% static '/images/perros_ultima_2.png' %}" alt="Imagen 5" />
      </div>
    </div>
    <button class="prev">❮</button>
    <button class="next">❯</button>
  </div>
  <section id="testimonios" class="testimonios">
    <h2>Testimonios!!!</h2>
    {% if menu %}
      <div class="testimonio">
        <p>{{ menu.testimonio1 }}</p>
      </div>
      <div class="testimonio">
        <p>{{ menu.testimonio2 }}</p>
      </div>
      <div class="testimonio">
        <p>{{ menu.testimonio3 }}</p>
      </div>
    {% else %}
      <div class="testimonio">
        <p>"Excelente servicio, mi perro siempre está en buenas manos. Los veterinarios son muy atentos y profesionales. ¡Muy recomendados!"</p>
        <p>- Laura G.</p>
      </div>
      <div class="testimonio">
        <p>"Llevé a mi gato para una consulta y me dieron un trato increíble. Además, su tienda tiene todo lo necesario para su bienestar. ¡Volveré!"</p>
        <p>- Carlos V.</p>
      </div>
      <div class="testimonio">
        <p>"Un lugar confiable para la salud de mis mascotas. El equipo siempre está dispuesto a ayudar y aconsejar. ¡Gracias por su dedicación!"</p>
        <p>- Ana P.</p>
      </div>
    {% endif %}
  </section>
  <footer>
    <p>
      &copy; 2024 Clínica Veterinaria Sonrisas y Patitas. Todos los derechos
      reservados.
    </p>
  </footer>
</div>
{% endblock %} {% block extra_js %}
<script src="{% static '/js/menu.js' %}"></script>
{% endblock %}
