{% extends 'base.html' %} 
{% load static %} 
{%block extra_css %}
<link rel="stylesheet" href="{% static '/css/menu.css' %}" />
<link rel="stylesheet" href="{% static '/css/globals.css' %}">
{% endblock %} 
{% block content %}
<div>
  <section class="info">
    <div class="logo-container">
      <img
        src="{% static '/images/Sonrisas y patitas logo.jfif' %}"
        alt="Logo de la Veterinaria"
        class="logo"
      />
    </div>
    <h1 class="menu-title">Bienvenidos a la Clínica Veterinaria SONRISAS Y PATITAS</h1>
    <p class="menu-subtitle">Nos dedicamos a cuidar a tus mascotas con mucho amor y profesionalismo.</p>
  </section>
</div>
{% endblock %} 
{% block extra_js %}
<script src="{% static '/js/menu.js' %}"></script>
{% endblock %}
