{% extends 'base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="/static/css/tienda.css" />

{% endblock %} {%block content%}

<div>
  <header id="header" class="header">
    <h1 class="title">Tienda</h1>
    <div class="category">
      <label for="categoria-select">Filtrar por categoría:</label>
      <select id="categoria-select">
        <option value="todas">Todas</option>
        <option value="categoria1">Categoría 1</option>
        <option value="categoria2">Categoría 2</option>
        <option value="categoria3">Categoría 3</option>
      </select>
    </div>
    <div class="carrito-container">
      <div class="row">
        <div class="two columns u-pull-right">
          <ul>
            <li class="submenu">
              <a href="{% url 'carrito' %}">
                <img
                  src="/static/images/cart.png"
                  id="img-carrito"
                  alt="carrito"
                />
              </a>

              <div id="carrito">
                <table id="lista-carrito" class="u-full-width">
                  <thead>
                    <tr>
                      <th>Imagen</th>
                      <th>Nombre</th>
                      <th>Precio</th>
                      <th>Cantidad</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>

                <a href="#" id="vaciar-carrito" class="button u-full-width"
                  >Vaciar Carrito</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div id="lista-productos" class="container">
    <div class="card" data-categoria="categoria1">
      <img src="img/curso1.jpg" class="imagen u-full-width" />
      <div class="info-card">
        <h4>HTML5, CSS3, JS</h4>
        <p>Lestradamus</p>

        <p class="precio">$200</p>
        <a
          href="#"
          class="u-full-width button-primary button input agregar-carrito"
          data-id="1"
          >Agregar Al Carrito</a
        >
      </div>
    </div>
    <div class="card">
      <img src="img/curso2.jpg" class="imagen u-full-width" />
      <div class="info-card">
        <h4>Comida Vegetariana</h4>
        <p>Lestradamus</p>

        <p class="precio">$200</p>
        <a
          href="#"
          class="u-full-width button-primary button input agregar-carrito"
          data-id="2"
          >Agregar Al Carrito</a
        >
      </div>
    </div>
    <div class="card">
      <img src="img/curso3.jpg" class="imagen u-full-width" />
      <div class="info-card">
        <h4>Curso Guitarra</h4>
        <p>Lestradamus</p>

        <p class="precio">$200</p>
        <a
          href="#"
          class="u-full-width button-primary button input agregar-carrito"
          data-id="3"
          >Agregar Al Carrito</a
        >
      </div>
    </div>

    <div class="card">
      <img src="img/curso4.jpg" class="imagen u-full-width" />
      <div class="info-card">
        <h4>Huerto en casa</h4>
        <p>Lestradamus</p>

        <p class="precio">$200</p>
        <a
          href="#"
          class="u-full-width button-primary button input agregar-carrito"
          data-id="4"
          >Agregar Al Carrito</a
        >
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img src="img/curso5.jpg" class="imagen u-full-width" />
      <div class="info-card">
        <h4>Decora tu hogar</h4>
        <p>Lestradamus</p>

        <p class="precio">$200</p>
        <a
          href="#"
          class="u-full-width button-primary button input agregar-carrito"
          data-id="5"
          >Agregar Al Carrito</a
        >
      </div>
    </div>
    <div class="card">
      <img src="img/curso1.jpg" class="imagen u-full-width" />
      <div class="info-card">
        <h4>Diseño Web</h4>
        <p>Lestradamus</p>

        <p class="precio">$200</p>
        <a
          href="#"
          class="u-full-width button-primary button input agregar-carrito"
          data-id="6"
          >Agregar Al Carrito</a
        >
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img src="img/curso2.jpg" class="imagen u-full-width" />
      <div class="info-card">
        <h4>Comida Mexicana</h4>
        <p>Lestradamus</p>

        <p class="precio">$200</p>
        <a
          href="#"
          class="u-full-width button-primary button input agregar-carrito"
          data-id="7"
          >Agregar Al Carrito</a
        >
      </div>
    </div>
    <div class="card">
      <img src="img/curso3.jpg" class="imagen u-full-width" />
      <div class="info-card">
        <h4>Estudio Musical</h4>
        <p>Lestradamus</p>

        <p class="precio">$200</p>
        <a
          href="#"
          class="u-full-width button-primary button input agregar-carrito"
          data-id="8"
          >Agregar Al Carrito</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block extra_js %}

<script src="{% static '/js/tienda.js' %}"></script>

{% endblock %}
