{% extends 'adminDashboard.html' %}
{% load static %}
 
{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/hisVentas.css' %}">
{% endblock %}

{% block content %}
<div>
    <div class="container">
        <h1>Historial de Ventas</h1>

        <!-- Filtros de búsqueda -->
        <div class="search-section">
            <input type="text" id="search-client" placeholder="Buscar por Cliente" oninput="filterTable()">
            <button onclick="clearFilters()">Limpiar Filtro</button>
        </div>

        <!-- Historial de ventas -->
        <table id="purchase-history">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th>Productos</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                <tr>
                    <td>{{ venta.fecha }}</td>
                    <td>
                        {% if venta.user %}
                            {{ venta.user.username }}
                        {% else %}
                            Usuario no encontrado
                        {% endif %}
                    </td>
                    <td>{{ venta.total }}</td>
                    <!-- Otros campos de la venta -->
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Pie de página -->
        <div class="footer">
            <button class="btn-regresar" onclick="history.back()">Regresar</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src=""></script>
{% endblock %}