{% extends 'adminDashboard.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/infoClient.css' %}">
{% endblock %}
{%block content%}
<div class="container">
    <table>
        <thead>
            <tr>
                <th>nombre</th>
                <th>correo</th>
                <th>compras</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="Nombre">Juan Uribe Cordoba</td>
                <td data-label="Correo">juanitolindo@gmail.com</td>
                <td class="action-buttons" data-label="Compras">
                    <a href="#" onclick="viewBuys(00)">Ver Compras</a>
                </td>
            </tr>
            <tr>
                <td data-label="Nombre">Juan Manuel Castaño Quiroz</td>
                <td data-label="Correo">juanmacq123@gmail.com</td>
                <td class="action-buttons" data-label="Compras">
                    <a href="#" onclick="viewBuys(01)">Ver Compras</a>
                </td>
            </tr>
            <tr>
                <td data-label="Nombre">Nicolas Gomez Velez</td>
                <td data-label="Correo">nicogv321@gmail.com</td>
                <td class="action-buttons" data-label="Compras">
                    <a href="#" onclick="viewBuys(02)">Ver Compras</a>
                </td>
            </tr>
            <tr>
                <td data-label="Nombre">Pedrito Peres Pelaes</td>
                <td data-label="Correo">ppp344@gmail.com</td>
                <td class="action-buttons" data-label="Compras">
                    <a href="#" onclick="viewBuys(03)">Ver Compras</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %} 
{% block extra_js %}
{% endblock %}