
.container {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table th,
table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
table th {
    background-color: #f1f1f1;
}
.action-buttons a {
    margin-right: 5px;
    padding: 8px 2px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.action-buttons a:hover {
    background-color: #218838;
}


@media (max-width: 768px) {
    /* Ajuste del contenedor y reducción de fuentes */
    .container {
        padding: 10px;
    }

    table {
        border: 0;
    }

    /* Convertir cada fila en una "tarjeta" */
    table thead {
        display: none; /* Ocultar encabezados de la tabla en dispositivos pequeños */
    }

    table tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    table td {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        font-size: 0.9em;
    }

    /* Etiquetas de las filas */
    table td::before {
        content: attr(data-label);
        font-weight: bold;
        color: #333;
        text-transform: capitalize;
    }
}